---
layout: default-package-sidebar
---

{% assign strings = site.data.strings.package %}

<article class="package">
	<header class="package-header">
		{% if page.icon != "" and page.icon != nil %}
		<img class="package-icon" src="{{ site.fdroid-repo }}/{{ page.icon }}" alt="{{ strings.package_icon_alt }}" />
		{% else %}
		<img class="package-icon" src="{% asset ic_repo_app_default.png %}" alt="{{ strings.package_icon_alt }}" />
		{% endif %}
		<div class="package-title">
			<h3 class="package-name">
				{{ page.title }}
			</h3>
			<div class="package-summary">
				{{ page.summary }}
			</div>
		</div>
	</header>
	{% if page.whats_new and page.suggested_version_name %}
	<div class="package-whats-new">
		{% assign fmt_latest_version = '{{ latest_version }}' %}
		{% assign version_name = page.suggested_version_name | i18n_number %}
		<div class="new-in-version">{{ strings.new_in_version | replace: fmt_latest_version, version_name }}</div>
		<div dir="auto">
			{{ page.whats_new }}
		</div>
	</div>
	{% endif %}
	<div class="package-description" dir="auto">
		{{ page.description }}
	</div>
	{% if page.anti_features != nil or page.versions.first.anti_features != nil %}
	<div class="package-anti-features">
		<h3>{{ strings.anti_features }}</h3>
		<p>{{ strings.anti_features_warning }} <a class="anti-features-more" href="{{ site.baseurl }}/docs/Anti-Features/">Learn more!</a></p>
		<ul class="package-version-anti-features-list">
			{% comment %} Display Antifeatures for package {% endcomment %}
			{% for anti_feature in page.anti_features %}
			<li class="anti-feature-item">
			  <a class="anti-feature-link" href="{{ site.baseurl }}/docs/Anti-Features/#{{ anti_feature }}">
					<img class="anti-feature-icon" src="{{ anti_feature | prepend: 'icons/antifeatures/' | append: '.svg' | asset }}" alt=""> 
					<div class="anti-feature-text">
						{{ site.data.strings.antifeatures[anti_feature] }}
					</div>
			  </a>
			</li>
			{% endfor %}
			{% comment %} Display Antifeatures for most recent app release (Code active?) {% endcomment %}
			{% for anti_feature in page.versions.first.anti_features %}
			<li class="anti-feature-item">
			  <a class="anti-feature-link" href="{{ site.baseurl }}/docs/Anti-Features/#{{ anti_feature }}">
					<img class="anti-feature-icon" src="{{ anti_feature | prepend: 'icons/antifeatures/' | append: '.svg' | asset }}" alt=""> 
					<div class="anti-feature-text">
						{{ site.data.strings.antifeatures[anti_feature] }}
					</div>
			  </a>
			</li>
			{% endfor %}
		</ul>
	</div>
	{% endif %}
	<ul class="package-links">
		{% if page.author_email != "" and page.author_email != nil %}
		<li class="package-link">
			{{ strings.author }}:
			<a href="mailto:{{ page.author_email }}?subject={{ site.title }}%20on%20{{ site.baseurl }}">
				{% if page.author_name != "" and page.author_name != nil %}
				{{ page.author_name }}
				{% else %}
				{{ page.author_email }}
				{% endif %}
			</a>
		</li>
		{% endif %}
		<li class="package-link">
			{{ strings.license }}:
			{% assign license = site.data.licenses.licenses[page.license] %}
			<a href="{{ license.url }}">{{ license.name | default: page.license }}</a>
		</li>
		{% if page.website != "" and page.website != nil %}
		<li class="package-link">
			<a href="{{ page.website }}">{{ strings.website }}</a>
		</li>
		{% endif %}
		{% if page.issue_tracker != "" and page.issue_tracker != nil %}
		<li class="package-link">
			<a href="{{ page.issue_tracker }}">{{ strings.issue_tracker }}</a>
		</li>
		{% endif %}
		{% if page.translation != "" and page.translation != nil %}
		<li class="package-link">
			<a href="{{ page.translation }}">{{ strings.translation }}</a>
		</li>
		{% endif %}
		{% if page.source_code != "" and page.source_code != nil %}
		<li class="package-link">
			<a href="{{ page.source_code }}">{{ strings.source_code }}</a>
		</li>
		{% endif %}
		{% if page.changelog != "" and page.changelog != nil %}
		<li class="package-link">
			<a href="{{ page.changelog }}">{{ strings.changelog }}</a>
		</li>
		{% endif %}
		<li class="package-link">
			<a href="https://gitlab.com/fdroid/fdroiddata/tree/master/metadata/{{ page.package_name }}.yml">{{ strings.build_metadata }}</a>
		</li>
	</ul>

	{% if page.openCollective != nil or page.liberapay != nil or page.flattrID != nil or page.bitcoin != nil or page.litecoin != nil or page.donate != nil %}
	<h3>{{ strings.donate }}</h3>
	<ul class="package-links donate-options">
		{% if page.openCollective != "" and page.openCollective != nil %}
		<li class="package-link opencollective">
			<a href="https://opencollective.com/{{ page.openCollective }}"><img src="{% asset opencollective_button.png %}" alt="{{ strings.opencollective_alt }}"/></a>
		</li>
		{% endif %}
		{% if page.liberapay != "" and page.liberapay != nil %}
		<li class="package-link">
			<a href="https://liberapay.com/{{ page.liberapay }}"><img src="{% asset liberapay_donate_button.svg %}" alt="{{ strings.liberapay_alt }}"/></a>
		</li>
		{% endif %}
		{% if page.bitcoin != "" and page.bitcoin != nil %}
		<li class="package-link">
			<a href="https://live.blockcypher.com/btc/address/{{ page.bitcoin }}" title="{{ page.bitcoin }}"><img src="{% asset bitcoin.png %}" alt="{{ strings.bitcoin_alt }}"/></a>
		</li>
		{% endif %}
		{% if page.litecoin != "" and page.litecoin != nil %}
		<li class="package-link">
			<a href="https://live.blockcypher.com/ltc/address/{{ page.litecoin }}" title="{{ page.litecoin }}"><img src="{% asset litecoin.png %}" alt="{{ strings.litecoin_alt }}"/></a>
		</li>
		{% endif %}
		{% if page.flattrID != "" and page.flattrID != nil %}
		<li class="package-link">
			<a href="https://flattr.com/thing/{{ page.flattrID }}">flattr.com/thing/{{ page.flattrID }}</a>
		</li>
		{% endif %}
		{%- assign donatetest = page.donate | slice: 0, 8 -%}
		{% if page.donate != "" and page.donate != nil and donatetest == "https://" %}
		<li class="package-link">
			<a href="{{ page.donate }}">{{ page.donate | replace_first: "https://", "" }}</a>
		</li>
		{% endif %}
	</ul>
	{% endif %}

	{% if page.phone_screenshots %}
	<div id="screenshots" class="js_slides screenshots">
		<div class="frame js_frame">
			<ul class="slides js_slides gallery">
				{% for screenshot in page.phone_screenshots %}
				<li class="js_slide screenshot"><img src="{{ site.fdroid-repo}}/{{ page.package_name }}/{{ screenshot }}" alt="{{ strings.package_screenshot_alt }}" /></li>
				{% endfor %}
			</ul>
		</div>
		<span class="js_prev slider_nav prev" style="display: none">
			<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 501.5 501.5"><g><path fill="#2E435A" d="M302.67 90.877l55.77 55.508L254.575 250.75 358.44 355.116l-55.77 55.506L143.56 250.75z"/></g></svg>
		</span>
		<span class="js_next slider_nav next" style="display: none">
			<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 501.5 501.5"><g><path fill="#2E435A" d="M199.33 410.622l-55.77-55.508L247.425 250.75 143.56 146.384l55.77-55.507L358.44 250.75z"/></g></svg>
		</span>
	</div>
	{% endif %}

	<div class="package-versions">
		<a name="versions"></a>
		<h3>{{ strings.versions }}</h3>
		<p>
			{{ strings.suggest_downloading_via_fdroid }}
		</p>
		<a href="{{ site.fdroid_apk_download_url }}" class="material-button">{{ site.data.strings.index.download_fdroid }}</a>
		<ul class="package-versions-list">
			{% for package in page.versions %}
			<li class="package-version" {% if forloop.first %}id="latest"{% endif %}>
			{% if page.suggested_version_name == package.version_name and suggestedDisplayed != true %}<a name="suggested"></a>{% endif %}
				<div class="package-version-header">
					{% assign package_added_date = package.added | date: site.data.strings.news.date_format %}
					<a name="{{ package.version_name }}"></a>
					<a name="{{ package.version_code }}"></a>
					{% comment %}fmt_package_version_* are strings in the JSON that are replaced here{% endcomment %}
					{% assign fmt_package_version = '{{ package_version }}' %}
					{% assign version_name = package.version_name | i18n_number %}
					{% assign fmt_package_version_code = '{{ package_version_code }}' %}
					{% assign version_code = package.version_code | i18n_number %}
					{{ strings.version_info | replace: fmt_package_version, version_name | replace: fmt_package_version_code, version_code }}
					{% if page.suggested_version_name == package.version_name and suggestedDisplayed != true %}<span class="suggested-badge">{{ strings.suggested }}</span>{% assign suggestedDisplayed = true %}{% else %} - {% endif %}
					{% assign fmt_package_added_date = '{{ package_added_date }}' %}
					{{ strings.added_on | replace: fmt_package_added_date, package_added_date }}
				</div>
				<p class="package-version-nativecode">
					{% for abi in package.nativecode %}
					<code class="package-nativecode">{{ abi }}</code>
					{% endfor %}
				</p>
				<p class="package-version-requirement">
					{% assign fmt_android_version = '{{ android_version }}' %}
					{% assign android_version = package.min_sdk_version | android_sdk_level_to_version %}
					{{ strings.minimum_android_version | replace: fmt_android_version, android_version }}
				</p>

				<p class="package-version-source">
					{% if package.srcname != "" and package.srcname != nil %}
					{% assign fmt_source_code_url = '{{ source_code_url }}' %}
					{% assign source_code_url = site.fdroid-repo | append: '/' | append: package.srcname %}
					{{ strings.signed_by_fdroid | replace: fmt_source_code_url, source_code_url }}
					{% else %}
					{{ strings.signed_by_developer | replace: fmt_source_code_url, source_code_url }}
					{% endif %}
				</p>

				{% if package.anti_features != "" and package.anti_features != nil %}
				<div class="package-version-anti-features">
					<details {% if forloop.first %}open{% endif %}>
						<summary class="package-version-anti-features-summary">
							{{ strings.anti_features }}
						</summary>
						<ul class="package-version-anti-features-list">
							{% for anti_feature in package.anti_features %}
							<li>
							  <a href="{{ site.baseurl }}/docs/Anti-Features/#{{ anti_feature }}">
							    {{ anti_feature }}
							  </a>
							</li>
							{% endfor %}
						</ul>
					</details>
				</div>
				{% endif %}

				{% if package.uses_permission != "" and package.uses_permission != nil %}
				<div class="package-version-permissions">
					<details {% if forloop.first %}open{% endif %}>
						<summary class="package-version-permissions-summary">
							{{ strings.permissions }}
						</summary>
						<ul class="package-version-permissions-list">
							{% for permission in package.uses_permission %}

							<li class="permission">

							{% if site.data.android_permissions[permission.permission] != nil %}
								{% assign perm = site.data.android_permissions[permission.permission] %}
								<div class="permission-label">{{ site.data.strings.permissions[perm.label] }}</div>
								<div class="permission-description">{{ site.data.strings.permissions[perm.description] }}</div>
							{% else %}
								<div class="permission-label">{{ permission.permission }}</div>
							{% endif %}

							{% if permission.min_sdk %}
							({{ permission.min_sdk | android_sdk_level_to_version }})
							{% endif %}

							</li>
							{% endfor %}
						</ul>
					</details>
				</div>
				{% endif %}

				
				<p class="package-version-download">
					<b>
						<a href="{{ site.fdroid-repo }}/{{ package.apk_name }}">
							{% assign fmt_file_extension = '{{ file_extension }}' %}
							{{ strings.download | replace: fmt_file_extension, package.file_extension }}
						</a>
					</b>
					{{ package.size | file_size_human_readable }}
					<a href="{{ site.fdroid-repo }}/{{ package.apk_name }}.asc">{{ strings.gpg_signature }}</a>
					&#124;
					<a href="{{ site.fdroid-repo }}/{{ package.apk_name | split: '.' | pop | join: '.' }}.log.gz">{{ strings.build_log }}</a>
				</p>

			</li>

			{% endfor %}

		</ul>

	</div>

</article>

<script src="{% asset lib/lory.min.js %}" async></script>
<script src="{% asset package.js %}" async></script>
